<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="cBDCUser">
      <h2 data-cy="cBDCUserDetailsHeading"><span>CBDC User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ cBDCUser.id }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ cBDCUser.email }}</span>
        </dd>
        <dt><span>Password</span></dt>
        <dd>
          <span>{{ cBDCUser.password }}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ cBDCUser.firstName }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ cBDCUser.lastName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/cbdc-user', cBDCUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
