<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cbdc-account-heading" data-cy="CBDCAccountCreateUpdateHeading">Create or edit a CBDC Account</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_partyId">Party Id</label>
          <input type="number" class="form-control" name="partyId" id="field_partyId" data-cy="partyId" formControlName="partyId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_accountId">Account Id</label>
          <input type="number" class="form-control" name="accountId" id="field_accountId" data-cy="accountId" formControlName="accountId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_pipId">Pip Id</label>
          <input type="number" class="form-control" name="pipId" id="field_pipId" data-cy="pipId" formControlName="pipId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_currencyId">Currency Id</label>
          <input
            type="number"
            class="form-control"
            name="currencyId"
            id="field_currencyId"
            data-cy="currencyId"
            formControlName="currencyId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_cbdcUserID">Cbdc User ID</label>
          <input
            type="number"
            class="form-control"
            name="cbdcUserID"
            id="field_cbdcUserID"
            data-cy="cbdcUserID"
            formControlName="cbdcUserID"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
